body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.character img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.character span {
  margin-top: 10px;
  text-align: center;
}

.div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
}

.character {
  width: 50%;
}
